.contacts {
    padding: 50px 0;

    @media screen and (max-width: 767px) {
        padding: 30px 0;
    }
    
    .side__title {
        font-size: 2rem;
        margin-bottom: 10px;
        font-weight: normal;
        color: $darkGray;
    }

    .contacts-info {
        width: 45%;

        @media screen and (max-width: 767px) {
            width: 100%;
        }

        .contacts-info__text {
            color: $gray;
            line-height: 1.5;
            position: relative;
            padding-bottom: 10px;

            &:after {
                position: absolute;
                content: "";
                left: 0;
                bottom: 0;
                width: 100px;
                border-top: 1px solid #66a0ff;
            }
        }

        .contacts__info-address {
            
            color: $gray;

            p {
                margin-bottom: 5px;
            }

            .address-text,
            .phone-link {
                position: relative;
                padding-left: 25px;
                &:before {
                    content: "";
                    margin-right: 10px;
                    width: 14px;
                    height: 14px;
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                }
            }
            
            .address-text {

                &:before {
                    background: url('../img/map-pin-solid.svg') center center no-repeat;
                }
            }

            .phone-link {
                color: $gray;
                font-weight: bold;

                &:before {
                    background: url('../img/phone-solid.svg') center center no-repeat;
                }
            }
        } 
    }
    
}

.contact-form {
    width: 40%;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
        width: 100%;
        order: -1;
        top: 0;
        margin-bottom: 15px;
    }

    input.name,
    textarea {
        border: 1px solid $gray;
        padding: 10px 5px;
        
    }



    .name-wrap {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        @media screen and (max-width: 767px) {
            flex-direction: column;
        }
    }

    input.name {
        width: calc(50% - 5px);


        @media screen and (max-width: 767px) {
            width: 100%;
        }

        &:first-child {
            @media screen and (max-width: 767px) {
                margin-bottom: 10px;
            }
        }
    }

    textarea {
        min-height: 100px;
        width: 100%;
        margin-bottom: 20px;
    }

    button {
        border: none;
        margin-left: auto;
        padding: 10px 0;
        color: $gray;
        background:$lightGray;

    }

    .submit-button {
        min-width: 182px;
        margin-bottom: 20px;
        font-size: 1.2rem;

    }

    .form-reset {
        min-width: 100px;
        font-size: 0.9rem;
    }

    

}