
.dropdown {
    position: relative;
    
    .dropdown__list {   
        list-style-type: none;
        padding: 0;
        margin: 0;
        position: absolute;
        min-width: 280px;
        padding-top: 18px;
        top: 80%;
        opacity: 0;
        transition: $dropdown;
        pointer-events: none;
        z-index: 1;

        @media screen and(max-width: 1024px) {
            min-width: 100px;
         }
        @media screen and(max-width: 767px) {
            display: none;
         }
    }

    &:hover {
        .dropdown__list {
            opacity: 1;
            top: 100%;
            pointer-events: all;

            @media screen and(max-width: 1024px) {
               right: 0;
            }
        }
        
    }

   .dropdown__link {
        text-decoration: none;
        line-height: 48px;
        white-space: nowrap;
        text-transform: uppercase;
        color: $gray;
        background: rgba(255, 255, 255, 0.8);
        padding: 0 15px;
        display: block;
        font-size: 1rem;
        transition: $all;

        &:hover {
            background: rgba(255, 255, 255, 1);
        }
    }

    .nav__link {
        @media screen and(max-width: 1024px) {
            pointer-events: none;
         }
        
    }
    
}



