/* 
#### 1. .vessel-tabs
#### 2.  vessel table
*/

.vessel-tabs {
    display: inline-flex;
    list-style-type: none;
    margin-bottom: 15px;
    
    background-color: #00616A;
    justify-content: space-evenly;

    @media screen and(max-width: 767px) {
        display: flex;
     }
}

.tabs-item {
    text-align: center;
    width: auto;
    min-width: 110px;
    flex-direction: column;
    padding: 0 20px 20px;
    text-align: center;
    cursor: pointer;
    transition: $all;

    @media screen and(max-width: 767px) {
        padding: 0 5px 10px;
        min-width: unset;
     }
    

    &:hover {
        background: #659B92;

        @media screen and(max-width: 767px) {
           background: transparent;
         }
    }

    

    picture {
        min-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.active {
        background: #53BBAB;
    }
}

.tabs-img {
    width: 100%;
    max-width: 70px;
    height: auto;
    display: block;
    // filter: invert(1);
}

.crane,
.tug,
.loader {
    .tabs-img {
        width: 50px;
    }
} 

.tab-title {
    display: block;
    color: #fff;
    font-size: 1.1rem;
}

// ### vessel table


.vessel-table {
    width: 100%;
    th,
    td {
        width: 12.5%;
        text-align: left;
        

        &:first-child {
            width: auto;
            white-space: nowrap;
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            @media screen and(max-width: 767px) {
                display: none;
             }
             
        }

        &:nth-child(2),
        &:nth-child(3) {
            @media screen and(max-width: 414px) {
                display: none;
             }
        }
    }

   
    tbody {

            td {
                
                &:first-child {
                    text-transform: uppercase;
                }
                
                a {
                    color: #000;
                    transition: $all;
                    text-decoration: underline;

                    &:hover {
                        color: blue;
                    }

                }

            }
    }
    
}

