.overlay {
    position: fixed;
    background-color: rgba($color: #000000, $alpha: 0.7);
    width: 100vw;
    height: 100vh;
    z-index: 1;

    @media screen and(min-width: 768px){
        display: none;
    }
}

// toggle icon

#toggle-icon {
    top: 15px;
    position: absolute;
    right: 10px;
    z-index: 3;
    margin: 0;  
    padding: 0; 
    width: 30px;
    height: auto;
    transition: .5s ease-in-out;

    @media screen and(min-width: 768px){
        display: none;
    }
    
    span {
        display: block;
        position: absolute;
        height: 5px;
        width: 100%;
        background: $darkGray;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: 0px;
        }

        &:nth-child(2),&:nth-child(3) {
            top: 10px;
        }

        &:nth-child(4) {
            top: 20px;
        }

    }

    &.open span {
        background: $lightGray;
        &:nth-child(1) {
            top: 18px;
            width: 0%;
            left: 50%;
        }

        &:nth-child(2) {
            transform: rotate(45deg);
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
          }

        &:nth-child(4) {
            top: 18px;
            width: 0%;
            left: 50%;
          }
    }
  }

header {
    background: #fff;
    padding: 15px 0 0;

    @media screen and(max-width: 767px){
        padding-top: 0;
        
    }
}

header .container {
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header__column_left {
    @media screen and(max-width: 767px){
        padding-top: 10px;
    }
}

  
.header__logo-img {
    max-height: 100px;
    object-fit: cover;
    margin-right: 20px;

    @media screen and(max-width: 1024px){
        max-height: 70px;
    }
    @media screen and(max-width: 767px){
        max-height: 50px;
    }
}

.header__column_right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media screen and(max-width: 767px){
        position: fixed;
        right: 50px;
        top: 0;
        background-color: $lightGray;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 35px;
        z-index: 2;
        transition: $all;

        &.hidden {
            right: -100%;
        }

    }

    
}

address {
    @media screen and(max-width: 767px){
        margin-bottom: 5px;
    }
}

.phone-link {
    text-decoration: none;
    color: $gray;
    font-family: $nav;
    font-size: 1rem;
    transition: $color;

    @media screen and(max-width: 767px){
        font-size: 1.2rem;
        line-height: 2;

        position: relative;
        padding-left: 25px;
        &:before {
            content: "";
            margin-right: 10px;
            width: 14px;
            height: 14px;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            background: url('../img/phone-solid.svg') center center no-repeat;
        }
    }

    &:hover {
        color: #000;
    }

    span {
        font-weight: bold;
        margin-right: 15px;
        font-size: 0.9rem;
    }
}

.top-block {
    display: flex;

    @media screen and(max-width: 767px){
        flex-direction: column-reverse;
        align-items: flex-start;
        margin-bottom: 5px;
    }
}

.nav__item.flat {
    
    .nav__link {
        position: relative;
        transition: $color;


    @media screen and(min-width: 768px){
        @include underline;
        @include underline-nav;
    }
       
    }

}

.lang__list {
    @media screen and(max-width: 767px){
        flex-direction: row-reverse;
        align-items: flex-end;
        position: relative;
        padding-left: 20px;
        
        &:before {
            content: "";
            position: absolute;
            left: 0;
            width: 15px;
            height: 15px;
            background: url('../img/globe-europe-solid.svg') center center no-repeat;
            background-size: cover;
            top: 50%;
            margin-top: -1px;
            transform: translateY(-50%);
        }
    }
}

.d-none--mob {
    @media screen and(max-width: 767px){
        display: none;
    }
    
}