.lang {
    margin-right: 15px;
    min-width: 30px;
    list-style-type: none;
    
}

.lang__list {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    overflow: hidden;
}

.lang__item {
    margin: 0 5px;
    transition: $all;

    &.active {
        display: block;
        order: 2; 

        @media screen and(max-width: 767px){
            margin-left: 0;
        }

        .lang__link {
            pointer-events: none;
            opacity: 1;
        }
    }

    &:not(.active) {
        visibility: hidden;
        transform: translateX(-100px);
    }

}

.lang__link {
    color: $gray;

    @media screen and(max-width: 767px){
        font-size: 1.2rem;
        color: $darkGray;
    }

    &:hover { 
        color: #000;
    }
}

.lang:hover {
    
    .lang__item {
        visibility: visible;
        transform: none;
    }

} 