.lang {
    margin-right: 15px;
    min-width: 30px;
    list-style-type: none;
    
}

.lang__list {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    overflow: hidden;

    @media screen and(max-width: 767px){
        position: relative;
        margin-left: -10px;        
        
    }

    li {
        padding: 0 10px;
        transition: $all;
    
        &:not(:first-child) {
            position: relative; 
    
            &:before {
                @include divider;
                background-color: #000;
            }
        }
    
        &.current-lang {
            
    
            @media screen and(max-width: 767px){
                margin-left: 0;
            }
    
            a {
                color: #000;
                font-weight: bold;
                pointer-events: none;
                text-decoration: underline;
            }
        }
    
    }
    
    a {
        color: $gray;
        transition: $all;
    
        @media screen and(max-width: 767px){
            font-size: 1.2rem;
            color: $darkGray;
        }
    
        &:hover { 
            color: #000;
            text-decoration: underline;
        }
    }
    
  
}

