.lang {
    margin-right: 15px;
    min-width: 30px;
    list-style-type: none;
    
}

.lang__list {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}

.lang__item {
    margin: 0 5px;
    transition: $all;

    &.active {
        display: block;
        order: 2; 

        .lang__link {
            pointer-events: none;
            opacity: 1;
        }
    }

    &:not(.active) {
        visibility: hidden;

    }

}

.lang__link {
    color: $gray;

    &:hover { 
        color: #000;
    }
}

.lang:hover {
    
    .lang__item {
        visibility: visible;
    }

} 