.custom-logo-link {
    display: flex;
    align-items: flex-end;
}

.logo__title {
    flex-basis: 294px;
    margin: 0;
    padding-bottom: 20px;
    
    .logo__link {
        line-height: 1.25;
        font-size: 1.5rem;    
        font-family: $exo;
        color: #000;
        text-transform: uppercase;  

    }

    span {
        display: block;
        font-size: 1rem;
    }

    @media screen and(max-width: 767px){
        padding-bottom: 12px;
    }
}

.custom-logo-link {
    margin-right: 30px;

    @media screen and(max-width: 767px){
        margin-right: 15px;
    }
}