.slider__wrap {
    position: relative;

}
    .slider__control {
        position: absolute;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);
        transition: $all;
        cursor: pointer;

        svg {
            width: 30px;
            height: 30px;
            
        }

        path {
            fill: #fff;
        }

    }

    .prev {
        left: 100px;

        &:hover {
            transform: translate(-10px, -50%); 
        }
    }

    .next {
        right: 100px;

        &:hover {
            transform: translate(10px, -50%); 
        }
    }


.slider.main-slider {
    overflow: hidden;
    display: flex;
    max-width: 100%;
    
    img,
    .slide {
        max-width: 100%;
    }
    
    .slide {
        min-width: 100%;
        transition: $all;
    }

    .slide.active {
        margin-left: -100%;
    }

     
}

.main-slider__wrap {
    .path {
        fill: #fff;
    }

}



