.slider__wrap {
    position: relative;

}
    .slider__control {
        position: absolute;
        top: 50%;
        z-index: 2;
        transform: translateY(-50%);
        transition: $all;
        cursor: pointer;

        svg {
            width: 30px;
            height: 30px;
            
        }

        path {
            fill: #fff;
        }

        @media screen and (max-width: 1024px) {
            display: none;
        }

    }

    .prev {
        left: 100px;

        &:hover {
            transform: translate(-10px, -50%); 
        }
    }

    .next {
        right: 100px;

        &:hover {
            transform: translate(10px, -50%); 
        }
    }


.main-slider {
    overflow: hidden;
    display: flex;
    max-width: 100%;

    &__slide {
        position: relative;
    }


    
    img {
        max-width: 100%;

        @media screen and(max-width: 1024px){
            height: 30vw;
        }
    }

    .slide-title {
        position: absolute;
        top: 30%;
        right: 20%;
        font-size: 2.5rem;
        color: $lightGray;
        max-width: 30vw;
        text-transform: uppercase;
        text-shadow: 0px 1px 2px #000;
        letter-spacing: 1.5px;

        @media screen and(max-width: 1024px){
            max-width: 40vw;
        }

        @media screen and(max-width: 768px){
            font-size: 1.5rem;
            right: 50%;
            top: 20%;
            width: auto;
            max-width: 300px;
            transform: translateX(50%);
            min-width: 250px;
        }
    }
    
    
}




