
.nav__list {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0 -10px 0 0;

    @media screen and(max-width: 767px){
        flex-direction: column;
    }
}

.nav__item {
    flex-shrink: 0;
    flex-grow: 1;
    position: relative;

    & + .nav__item:before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 1em;
        width: 2px;
        background: #367a79;

        @media screen and(max-width: 767px){
            display: none;
         }
    }

  
}

.nav__link {
    font-family: $nav;
    font-weight: 400;
    padding: 0 15px;
    line-height: 48px;
    text-transform: uppercase;
    text-decoration: none;
    color: $gray;
    display: block;
    font-weight: bold;

    @media screen and(max-width: 767px){
        line-height: 35px;
        font-size: 1.2rem;
        font-weight: normal;
     }

   
}

.header__nav-link {
    padding-left: 0;
}