.news__block {
    
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    display: flex;

    @media screen and(max-width: 1024px) {
        top: -30px;
        margin-bottom: -30px;
    }

    @media screen and(max-width: 767px) {
        position: static;
        margin-bottom: 0;

    }

    .container {
        background: $lightGray;
        padding: 26px;
        max-width: 1150px;

        @media screen and(max-width: 1024px) {
            padding: 20px 20px 0;
            max-width: 950px;
        }

        @media screen and(max-width: 767px) {
            padding-bottom: 10px;
        }
    }
}

.news__slider {
    max-height: $sliderHeight;
    overflow: hidden;
    @media screen and(max-width: 1024px) {
        max-height: $sliderHeightTablet;
    }
    @media screen and(max-width: 414px) {
        max-height: $sliderHeightMob;
    }
}

.news {
    transition: $slider;
    height: $sliderHeight;
    overflow: hidden;

    @media screen and(max-width: 1024px) {
        height: $sliderHeightTablet;
    }
    @media screen and(max-width: 414px) {
        height: $sliderHeightMob;
    }

    &.slide.active {
        margin-top: -$sliderHeight;
        @media screen and(max-width: 1024px) {
            margin-top: -$sliderHeightTablet;
        }
        @media screen and(max-width: 414px) {
            margin-top: -$sliderHeightMob;
        }
    }

    p {
        color: $darkGray;
        margin: 10px 0;

        @media screen and(max-width: 414px) {
            margin: 0 0 10px;
        }
    }
    
}

.news__title {
    font-size: 1.5rem;
    text-transform: uppercase;

    @media screen and(max-width: 1024px) {
        font-size: 1.1rem;
    }
    @media screen and(max-width: 414px) {
        font-size: 1rem;

    }
}

.news-teaser {
    display: flex;
    flex-direction: column;
    max-width: 800px;

    .news-teaser__text {
        color: $darkGray;
        position: relative;

        @media screen and(max-width: 414px) {
            font-size: 1rem;
            
        }
    }
    
    .more {
        font-size: 0.8rem;
        align-self: flex-end;
        color: $darkGray;
        text-align: right;

        @media screen and(max-width: 414px) {
            font-size: 1rem;
    
        }
    }
}

.post {
    padding: 25px 20px 15px 70px;
    border-bottom: 2px dotted #aaa;
    position: relative;
    
    &:last-child,
    &:nth-last-child(2) {
        border-bottom: none;
    }
    

    &:before {
        content: "";
        left: 0;
        top: 15px;
        position: absolute;
        width: 60px;
        height: 60px;
        background: url('../img/news-icon.png') center center no-repeat;
        background-size: cover;
        filter: invert(0.7);
    }
}

.grid {
    .post {
        @media screen and (min-width: 768px){
            width: calc(50% - 10px);
        }
    }
}

.post h1,
.post h1 a {
    color: $blog-title;
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1.3;
}

.post-view {
    display: flex;

    @media screen and(max-width: 767px) {
        display: none;
    }

    .post-view__item {
        width: 30px;
        height: 30px;
        margin: 0 10px;
        cursor: pointer;

        svg {
            fill: #11abb0;
            transition: fill .3s;
        }

        &:hover {
            svg {
                // fill: rgba(0, 0, 0, 0.5); 
                fill: rgba($color: #000000, $alpha: 0.7);
            }
        }

        &.active {
            svg {
                fill: #000; 
            }
        }
    }
}

.blog__title {
    margin-bottom: 0;
}



#single-news {

    .post{

        width: 75%;
        max-width: 800px;
        border: none;
        margin: 0 auto;

        @media screen and(max-width: 767px) {

            width: 100%;
            padding: 0;
            
            &:before {
                display: none;
            }
        }
        
    }



    .post-content {
        

        p {
            font-size: 1.1rem;
            color: $darkGray;
            font-size: 1.2rem;
            line-height: 1.3;
        }

        .lead {
            font-size: 1.4rem;
            color: #000;
        }
    }

    /* post-nav */
.post-nav {
    margin: 24px 0;
    padding: 30px 0 0 0;
    border-top: 1px solid #E0E0E0;
    font: 16px/30px notosans-regular, sans-serif;
    display: flex;

 }
 .post-nav li {
    margin: 0;
    padding: 0;
    width: 49%;
    line-height: 1.5;

    a { 
     
        color: #9FA5AD;
        transition: $all;
        display: block;
        text-transform: capitalize;
        
    
        &:hover {
            color: #313131;
        }
    }

    span {
        font: 16px/30px raleway-heavy, sans-serif;
        text-transform: uppercase;
        color: #11ABB0;
        letter-spacing: 0.5px;
        display: block;
        font-weight: bold;
        @include underline;
        @include underline-nav;
        display: inline-block;

        &:hover {
            filter: invert(.5);
        }
     }

     &.next-post {
        text-align: right;
     }

     &.prev-post {
        text-align: left;
     }
 }
}
