.news__block {
    
    position: relative;
    top: -50px;
    margin-bottom: -50px;
    display: flex;

    @media screen and(max-width: 1024px) {
        top: -30px;
        margin-bottom: -30px;
    }

    @media screen and(max-width: 767px) {
        position: static;
        margin-bottom: 30px;

    }

    .container {
        background: $lightGray;
        padding: 26px;
        max-width: 1150px;

        @media screen and(max-width: 1024px) {
            padding: 20px 20px 0;
            max-width: 950px;
        }

        @media screen and(max-width: 767px) {
            padding-bottom: 10px;
        }
    }
}

.news__slider {
    max-height: $sliderHeight;
    overflow: hidden;
    @media screen and(max-width: 1024px) {
        max-height: $sliderHeightTablet;
    }
    @media screen and(max-width: 414px) {
        max-height: $sliderHeightMob;
    }
}

.news {
    transition: $slider;
    height: $sliderHeight;
    overflow: hidden;

    @media screen and(max-width: 1024px) {
        height: $sliderHeightTablet;
    }
    @media screen and(max-width: 414px) {
        height: $sliderHeightMob;
    }

    &.slide.active {
        margin-top: -$sliderHeight;
        @media screen and(max-width: 1024px) {
            margin-top: -$sliderHeightTablet;
        }
        @media screen and(max-width: 414px) {
            margin-top: -$sliderHeightMob;
        }
    }

    p {
        color: $darkGray;
        margin: 10px 0;

        @media screen and(max-width: 414px) {
            margin: 0 0 10px;
        }
    }
    
}

.news__title {
    font-size: 1.5rem;
    text-transform: uppercase;

    @media screen and(max-width: 1024px) {
        font-size: 1.1rem;
    }
    @media screen and(max-width: 414px) {
        font-size: 1rem;

    }
}

.news-teaser {
    display: flex;
    flex-direction: column;
    max-width: 800px;

    .news-teaser__text {
        color: $darkGray;
        position: relative;

        @media screen and(max-width: 414px) {
            font-size: 1rem;
            
        }
    }
    
    .more {
        font-size: 0.8rem;
        align-self: flex-end;
        color: $darkGray;
        text-align: right;

        @media screen and(max-width: 414px) {
            font-size: 1rem;
    
        }
    }
}

.post {
    padding: 25px 20px 15px 70px;
    border-bottom: 2px dotted #aaa;
    position: relative;
    
    

    &:before {
        content: "";
        left: 0;
        top: 15px;
        position: absolute;
        width: 60px;
        height: 60px;
        background: url('../img/news-icon.png') center center no-repeat;
        background-size: cover;
        filter: invert(0.7);
    }
}

.grid {
    .post {
        @media screen and (min-width: 768px){
            width: calc(50% - 10px);
        }
    }
}

.post h1 a {
    color: $blog-title;
    text-transform: uppercase;
    font-size: 1.5rem;
}

.post-view {
    display: flex;

    @media screen and(max-width: 767px) {
        display: none;
    }

    .post-view__item {
        width: 30px;
        height: 30px;
        margin: 0 10px;
        cursor: pointer;

        svg {
            fill: #11abb0;
            transition: fill .3s;
        }

        &:hover {
            svg {
                // fill: rgba(0, 0, 0, 0.5); 
                fill: rgba($color: #000000, $alpha: 0.7);
            }
        }

        &.active {
            svg {
                fill: #000; 
            }
        }
    }
}

.blog__title {
    margin-bottom: 0;
}

