.descr {
    padding: 50px 0;

    @media screen and (max-width: 768px) {
        padding: 15px 0;
    }

    .descr__title {
        font-size: 2rem;
        color: #000;
        font-weight: bold;
        width: 70%;
        margin-left: auto;
        margin-bottom: 0;

        &--service {
            margin-left: 0;
            width: 60%;
            padding: 0 15px;
        }

        @media screen and (max-width: 767px) {
            width: 100%;
            margin-bottom: 15px;
        }
    }

    .page-aside {
        width: 30%;
        
        &.services {
            width: 40%;

            @media screen and (max-width: 767px) {
                width: 100%;
                order: -1;

                
            }
        }

        &.about {
            padding-top: 30px;

            @media screen and (max-width: 767px) {
                padding-top: 30px;    
                
            }
        }

        @media screen and (max-width: 767px) {
            width: 100%;
        }
    }

    .side-title {
        color: $darkGray;
        text-transform: uppercase;
    }


    .page-nav__list {

        @media screen and (max-width: 767px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

         a {
            color: $gray;
            line-height: 1;
            text-transform: uppercase;
            transition: $all;
            font-size: 1.2rem;
            letter-spacing: 1px;

            @include underline;
            @include underline-nav;

            padding: 0;
            display: inline-block;

            @media screen and (max-width: 767px) {
                color: #000;
                font-weight: bold;
            }
            
        }

        li + li a {
            margin-top: 10px;

            @media screen and (max-width: 767px) {
                margin-top: 0;
            }
        }
    }

    .page-content {
        width: 70%;

        &--services {
            width: 60%;
            text-align: left;
            padding: 0 30px 0 15px;
            
        }

        @media screen and (max-width: 767px) {
            width: 100%;
            padding: 15px 0;
        }
    }

    .page-text  {
        text-align: justify;
        font-family: 'Roboto';
        color: $gray;
        line-height: 1.3;

        &:last-child {
            margin-bottom: 0;
        }

        @media screen and (max-width: 767px) {
            font-size: 1.2rem;
        }
    }

    .services-img {
        width: 100%;
    }
}

