/* Pagination */
.pagination {
    margin: 36px auto;
    text-align: center;

    @media screen and(max-width: 767px) {
      margin: 20px auto 10px;
    }
 }
 .pagination ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
 }
 .pagination .page-numbers {
    font: 15px/18px notosans-bold, sans-serif;
    display: inline-block;
    padding: 6px 10px;
    margin-right: 3px;
     color: #6E757C;
     background-color: #E6E8EB;
     transition: all 200ms ease-in-out;
     border-radius: 3px;
 }
 .pagination .page-numbers:hover {
    background: #838A91;
    color: #fff;
 }
 .pagination .current,
 .pagination .current:hover {
    background-color: #11ABB0;
    color: #fff;
 }
 .pagination .inactive,
 .pagination .inactive:hover {
    background-color: #E6E8EB;
     color: #A9ADB2;
 }