@mixin underline {
    position: relative;

    &:after{
        position: absolute;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        background-color: $gray;
        height: 2px;
        width: 0;
        transition: $all;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &:hover {
        color: #000;
        
        &:after {
            width: calc(100% - 20px);   
        }
        

    }
}

@mixin divider {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1em;
    width: 2px;
    background: #367a79;
}