@mixin underline {
    position: relative;

    &:after{
        position: absolute;
        content: "";
        left: 50%;
        transform: translateX(-50%);
        bottom: 10px;
        background-color: $gray;
        height: 2px;
        width: 0;
        transition: $all;

        @media screen and (max-width: 767px) {
            display: none;
        }
    }

    &:hover {
        color: #000;
        
        &:after {
            width: calc(100% - 20px);   
        }
        

    }
}

@mixin underline-nav {

    &:after {
        bottom: -2px;
    }

    &:hover {
        
        &:after {
            width: 100%;   
        }
        

    }
}

@mixin divider {
    position: absolute;
    content: "";
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1em;
    width: 2px;
    background: #367a79;
}

@mixin form-submit {
        background-color: #00616A;
        color: $lightGray;
        
        
        @media screen and (max-width: 767px) {
            font-size: 1.3rem;

            &.form-reset {
                font-size: 1.2rem;
            } 
        }
}