// fonts
// $baseFont: 'Montserrat', sans-serif;
$baseFont: 'Roboto Condensed', sans-serif;
$nav: 'Roboto Condensed', sans-serif;

// colors
$gray: #367a79;
$lightGray: #eff3f4;
$title: #004E4C;
$footer: #15645f99;

// transitions
$all: all .5s ease-in-out;
$color: color .3s ease-in-out;
$opacity:  opacity .3s ease-in-out;
$dropdown:  opacity .3s ease-in-out,
            top .3s ease-in-out;
$exo: 'Exo 2', sans-serif;